
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello Dialog</title>
    @*<link href="jqueryui/css/ui-lightness/jquery-ui-1." />*@
</head>
<body>
    <div> 
    </div>
</body>
</html>
